<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Awesome Calculator!</title>

<link rel="stylesheet" href="{{ STATIC_URL }}calculator/css/calculator.css" />
<script src="{{ STATIC_URL }}calculator/js/calculator.js"></script>
</head>

<body onload="prepareListeners()">

	<div class="calculator_wrapper">
		<div class="calculator">
			<div class="screen_wrapper">
				<div class="screen">
					<span id="screen-label">0</span>
				</div>
			</div>
			<div class="btn_wrapper">
				<div class="btns">
					<div class="row">
						<button type="button"><span>7</span></button>
						<button type="button"><span>8</span></button>
						<button type="button"><span>9</span></button>
						<button id="plus-op" type="button" class="operator"><span>&plus;</span></button>
					</div>
					<div class="row">
						<button type="button"><span>4</span></button>
						<button type="button"><span>5</span></button>
						<button type="button"><span>6</span></button>
						<button id="minus-op" type="button" class="operator"><span>&minus;</span></button>
					</div>
					<div class="row">
						<button type="button"><span>1</span></button>
						<button type="button"><span>2</span></button>
						<button type="button"><span>3</span></button>
						<button id="multiply-op" type="button" class="operator"><span>&times;</span></button>
					</div>
					<div class="row">
						<button type="button"><span>0</span></button>
						<button id="equals-op" type="button" class="operator"><span>&equals;</span></button>
						<button id="divide-op" type="button" class="operator"><span>&divide;</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>