.login, .register {
	width: -moz-fit-content;
	margin: auto;
}

.form {
	margin: 25px 0;
	font-size: 1.1em;
}

.form tr {
	height: 65px;
}

.form .label, .form label {
	color: #dedede;
	margin-right: 40px;
}

.form .label {
	margin-right: 20px;
}

.form input {
	background: none repeat scroll 0 0 #f6f6f6;
	border-radius: 5px;
	border-style: none;
	font-size: 1em;
}

.register.link {
	font-style: italic;
	font-weight: bold;
}

.submit {
	display: block;
	margin: 25px auto auto;
	padding: 10px 20px;
	color: #464646;
}