{% extends "socialnetwork/header.html" %} 
{% load static %}
{% block heading %}
	<h3 class="calligraphy small">Followers Feed</h3>
{% endblock %}

{% block content %}
<div class="centered">
	<div id="posts-wrapper" class="posts column">
		<div id="posts-list" class="history">
			{% if not posts %}
			<div align="center">
				<span>No posts</span>
			</div>
			{% endif %} 
			{% for post in posts %}
			<div class="wrapper">
				<div class="post-wrapper top">
					<img class="icon post-user inline" src="{% static 'socialnetwork/images/user_post.png' %}">
					<a class="post-user link" href="{% url 'profile' post.user.id %}">{{post.user.username}}</a>
					{% if post.user == user %}
					<a class="delete-action" href="{% url 'delete' post.id 'home' %}">
						<img class="delete" src="{% static 'socialnetwork/images/post_delete.png' %}">
					</a>
					{% endif %}
					<div class="post-content">
						<span>{{post}}</span>
					</div>
				</div>
				<div class="post-wrapper bottom">
					{% if post.user != user %}
						{% if post.user in following %}
							<a class="link following fleft" onclick="return toggleFollow(this);" href="{% url 'follow' post.user.id %}">Following</a>
						{% else %}
							<a class="link following fleft" onclick="return toggleFollow(this);" href="{% url 'follow' post.user.id %}">Follow Me!</a>
						{% endif %}
					{% endif %}
					<span class="post-date">{{post.creation_date}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	function toggleFollow(element) {
		var text = $(element).text();
		var href = $(element).attr('href');
		var params;
		if (text == "Follow Me!") {
			params = '?follow=follow';
			text = "Following";
		} else if (text == "Following") {
			params = '?follow=unfollow';
			text = "Follow Me!";
		}
		
		$.get(href + params, function(data) {
			$(element).text(text);
		});
		
		return false;
	}
</script>
{% endblock %}