<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Social Network - Home</title>
<link rel="stylesheet" href="{{ STATIC_URL }}socialnetwork/css/main.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}socialnetwork/css/grid.css" />
<link rel="stylesheet"
	href="{{ STATIC_URL }}socialnetwork/css/posts.css" />
<link rel="stylesheet"
	href="{{ STATIC_URL }}socialnetwork/css/forms.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type='text/javascript'
	src='{{STATIC_URL}}socialnetwork/js/socialnetwork.js'></script>
</head>

<body>
	<div class="header">
		<a href="/socialnetwork/" class="sonet">SoNet</a>
		<div class="navbar fright last">
			<a class="link" href="/socialnetwork/logout">
				<img class="logout icon"
					src="{{STATIC_URL}}socialnetwork/images/logout.png">
				<span class="nav"> Logout</span>
			</a>
		</div>
	</div>
	</div>

	<div align="center" class="body">
		<div class="heading-wrapper">
			<h3 class="calligraphy small">Posts Feed</h3>
		</div>
	</div>

	{% for error in errors %}
	<div align="center" class="error-wrapper">
		<span class="error">{{ error }}</span>
	</div>
	{% endfor %}


	<div class="content">
		<div class="new-post">
			<form action="/socialnetwork/add-post" method="post">
				<label>Post Content:</label>
				<textarea onkeyup="textCounter(this,'counter',160);"
					name="postcontent" rows="4" cols="100"></textarea>
				<input disabled maxlength="3" size="1" value="160" id="counter"
					class="counter inline">
				<input class="submit inline postit" type="submit" value="">
				{% csrf_token %}
			</form>
		</div>
		<div id="posts-wrapper" class="posts">
			<div id="posts-list" class="history">
				{% if not posts %}
				<div align="center">
					<span>No posts</span>
				</div>
				{% endif %} {% for post in posts %}
				<div class="wrapper">
					<div class="post-wrapper top">
						<img class="icon post-user inline"
							src="{{STATIC_URL}}socialnetwork/images/user_post.png">
						<a class="post-user link"
							href="/socialnetwork/profile/{{post.user.id}}">{{post.user.username}}</a>
						{% if post.user == user %}
						<a class="delete-action"
							href="/socialnetwork/delete-post/{{post.id}}/profile">
							<img class="delete"
								src="{{STATIC_URL}}socialnetwork/images/post_delete.png">
						</a>
						{% endif %}
						<div class="post-content">
							<span>{{post}}</span>
						</div>
					</div>
					<div class="post-wrapper bottom">
						<span class="post-date">{{post.creation_date}}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script>
		function textCounter(field, field2, maxlimit) {
			var countfield = document.getElementById(field2);
			if (field.value.length > maxlimit) {
				field.value = field.value.substring(0, maxlimit);
				countfield.style.color = "red"; 
				return false;
			} else {
				countfield.value = maxlimit - field.value.length;
			}
		}
	</script>
</body>
</html>


