 {% load static %}
 {% for comment in comments %}
<div class="wrapper">
	<div class="comment-wrapper top">
		{% if comment.user.userinfo.image %} 
			<img class="icon comment-user round inline" src="{% url 'image' comment.user.id %}" alt="{{comment.user.username}}"> 
		{% else %} 
			<img class="icon comment-user round inline" src="{% static 'socialnetwork/images/user.png' %}" alt="{{comment.user.username}}"> 
		{% endif %} 
		<div class="comment-content">
			<a class="comment-user link" href="{% url 'profile' comment.user.id %}">{{comment.user.username}} : </a>
			<span>{{comment}}</span>
		</div>
	</div>
	<div class="comment-wrapper bottom">
		<span class="post-date">{{comment.creation_date}}</span>
	</div>
</div>
{% endfor %}
