{% load static %}
<div id="posts-wrapper" class="posts column">
<input type="hidden" id="timestamp" value="{{ timestamp }}">
	<div id="token">{% csrf_token %}</div>
	<div id="posts-list" class="history">
		{% if not posts %}
		<div align="center">
			<span>No posts</span>
		</div>
		{% endif %}
		{% include "socialnetwork/post_template.html" with posts=posts following=following user=user %}
	</div>
</div>

<script>
	$(function() {
		window.setInterval(sendRequest, 20000);
	});
	
	function sendRequest() {
	    var time = $("#timestamp").val();
	    var token = $("#token > input").val();
	    var req = $.post( "get-posts", { timestamp: time, csrfmiddlewaretoken: token }, function( data ) {
		    		$("#timestamp").val(data.timestamp);
		    		handleResponse(data.html);
		    	}, "json");
	    return false;
	}

	function handleResponse(data) {
		
		var wrapper = $("#posts-list")
		$(wrapper).prepend(data);
		
	}

	function toggleFollow(element) {
		var text = $(element).text();
		var href = $(element).attr('href');
		var params;
		if (text == "Follow Me!") {
			params = '?follow=follow';
			text = "Following";
		} else if (text == "Following") {
			params = '?follow=unfollow';
			text = "Follow Me!";
		}
		
		$.get(href + params, function(data) {
			$(element).text(text);
		});
		
		return false;
	}
</script>